body {
  margin: 0;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  width: 100vw;
  height: 10vh;
  justify-content: space-between;
}

.navbar__logo {
  height: 10vh;
  margin-left: 7.5%;
}

.navbar__link {
  border: 0;
  background-color: transparent;
  color: #001544;
  cursor: pointer;
  font-size: 150%;
  margin: auto 0;
  padding: 2% 0;
}

.navbar__links {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

.navbar__dropdown {
  margin-right: 7.5%;
}
