/* journey.css */

.journey {
  background-color: #000d2a;
  border-radius: 15px;
  border: 0.25vh solid #eaba2a;
  margin: 3vh 2vw;
  width: 33%;
  height: fit-content;
  flex-basis: 33.3vw;

  * {
    color: white;
  }
}

.transport {
  padding: 10px;
}

.type {
  width: 1%;
  margin: 0 5%;
}

.top,
.bottom {
  display: flex;

  :nth-child(2) {
    text-align: center;
    width: 100%;
  }
  :nth-child(3) {
    text-align: right;
    white-space: nowrap;
    min-width: 3vw;
  }
}

.transport:not(:first-child) {
  border-top: 1px solid #eaba2a;
}

.type-container {
  display: flex;
  height: 10vh;

  * {
  }
  :nth-child(2) {
    width: 50%;
    align-self: center;
  }

  :nth-child(3) {
    width: 100%;
    text-align: right;
    align-self: center;
  }
}

.departure .type {
  width: 100%;
  height: 1vh;
  margin: 0;
}

.departure {
  width: 15vw;
  height: 5vh;
  border: 0.25vh solid #eaba2a;
  margin: 1vh 1vw;
  background-color: #000d2a;
  border-radius: 5px;

  * {
    color: white;
  }
}

.departure__info {
  display: flex;
  justify-content: space-between;
  margin: 1vh 0.5vw 0 0.5vw;
}

.transport__origin--name,
.transport__destination--name {
  font-weight: bold;
}

/* Different colors for all transportation types, page 36 in the documentation. https://help.rejseplanen.dk/hc/article_attachments/115002672369 */

.type.ic {
  background-color: red;
}

.type.reg {
  background-color: green;
}

.type.walk,
.type.bike,
.type.car {
  background-color: black;
}

.type.m {
  background-color: chocolate;
}

.type.s {
  background-color: blueviolet;
}

.type.tog {
  background-color: brown;
}

.type.bus {
  background-color: lightblue;
}

.type.exb {
  background-color: lightblue;
}

.type.nb {
  background-color: lightcyan;
}

.type.f {
  background-color: blue;
}

.type.lyn {
  background-color: yellow;
}

.type.tb {
  background-color: darkcyan;
}

.journey__container {
  background-color: #e3e3e3;
  overflow-y: hidden;
  overflow-x: auto;
  border: 1px solid black;
  border-top: none;
  margin: 0 auto;
  width: 96%;
  display: flex;
}
