<link href="./travel.css" rel="stylesheet" type="text/css" />

<div class="travel">
  <div class="travel__container">
    <div>
      <h2 class="travel__container--country">Rejs: i Danmark</h2>
    </div>
    <div class="travel__container--details">
      <div class="travel__container--details--stations">
        <div class="travel__container--details--stations--from">
          <img
            src="./../../images/location indicators/LocationA.svg"
            alt="Starting location icon"
          />
          <input type="text" placeholder="Fra" />
          <button>
            <img
              src="./../../images/GetLocation.svg"
              alt="Get your current location"
            />
          </button>
        </div>
        <div class="travel__container--details--stations--to">
          <img
            src="./../../images/location indicators/LocationB.svg"
            alt="Destination icon"
          />
          <input type="text" placeholder="Til" />
          <button>
            <img
              src="./../../images/Switch.svg"
              alt="Switch starting location and Destination"
            />
          </button>
        </div>
      </div>
      <div>
        <div>
          <button>
            <span>
              <p>Afgang i dag xx:xx</p>
              <img
                src="./../../images/arrows/GrayArrowDownwards.svg"
                alt="gray arrow pointing downwards"
              />
            </span>
          </button>
        </div>
      </div>
      <div>
        <button>Find</button>
      </div>
    </div>
  </div>
</div>
