body {
  margin: 0;
  font-family: sans-serif;
}

.travel {
  background-image: url('./../../images/background/Background.jpg');
  background-position: center 0;
  height: 100%;
  display: grid;
  box-sizing: border-box;
  position: relative;
  background-size: 140%;
}

.travel__container {
  height: 50%;
  width: 76.5%;
  background-color: #000d2a;
  place-self: center;
  display: flex;
  flex-direction: column;
  padding: 2.5%;
}

.travel__container--country {
  color: #eaba2a;
  font-weight: normal;
}

.travel__container--details {
  display: flex;
}

.travel__container--details--stations {
  display: flex;
}

.travel__container--details--stations--from {
  border-bottom: 1px solid #666e7f;
  height: 10vh;
  vertical-align: middle;

  img {
    height: 10vh;
  }

  input {
    background-color: transparent;
    border: none;
  }
}
