<link href="./travel.css" rel="stylesheet" type="text/css" />

<div class="travel">
  <div class="travel__container">
    <div>
      <h2 class="travel__container--country">Rejs: i Danmark</h2>
    </div>
    <div class="travel__container--details">
      <div class="travel__container--details--stations">
        <div>
          <img src="./Images/LocationA.svg" alt="Starting location icon" />
          <input type="text" placeholder="Fra" />
          <button>
            <img
              src="./Images/GetLocation.svg"
              alt="Get your current location"
            />
          </button>
        </div>
        <div>
          <img src="./Images/LocationB.svg" alt="Destination icon" />
          <input type="text" placeholder="Til" />
          <button>
            <img
              src="./Images/Switch.svg"
              alt="Switch starting location and Destination"
            />
          </button>
        </div>
        <div>
          <div>
            <button>
              <span>
                <p>Afgang i dag xx:xx</p>
                <img src="./Images/GrayArrowDownwards.svg" />
              </span>
            </button>
          </div>
        </div>
      </div>
      <div></div>
      <div>
        <button>Find</button>
      </div>
    </div>
  </div>
</div>
